#{extends 'main.html' /}
#{set title:'Add Event' /}

<div>

<h3>HELLO WORLD</h3>
<ul class="thumbnails">
            <li class="span2">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Dance</h3>
              <p>Gangnam Style all the way...</p>
            </div>
          </li>
          <li class="span2">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Cooking</h3>
              <p>Food and a bit more or something.</p>
            </div>
          </li>
          <li class="span2">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Football</h3>
              <p>Enough with the football manager.</p>
            </div>
          </li>
          <li class="span2">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Art Class</h3>
              <p>Painting, drawing, let's get mucky.</p>
            </div>
          </li>

</div>